{% load static %}
<img src="{{mbti.image_url}}">
<h2>{{mbti.name}}</h2>
<h3>{{mbti.title}}</h3>
<h4>{{mbti.description}}</h4>

<div>
    <h3>{{mbti.name}}은...</h3>
    <p>대충워드클라우드</p>
    <input type="text" id="keyword" name="keyword" minlength="1" maxlength="8">
</div>

<div>
    <h3>한줄평</h3>
    <ul>
        <li>성격이 좆같아요</li>
        <li>음식이 친절하고 사장님이 맛있어요</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <input type="text" id="comment" name="comment" minlength="1" maxlength="500">
</div>

<div>
    <h3>궁합평점</h3>
    <ul>
        <li>vs INTP (1.2)<br>좆같아요</li>
    </ul>
    <ul>
        <li>vs INFJ (3.5)<br>쏘쏘</li>
    </ul>
    <input type="text" id="" name="comment" minlength="1" maxlength="500">
</div>